<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
        <div class="mb-3">
            <p id="Name" ><b>Name: @ViewBag.Name</b></p>
            <p id="Location" ><b>Dojo Location: @ViewBag.Location</b></p>
            <p id="FavoriteLanguage" ><b>Favorite Language: @ViewBag.FavoriteLanguage</b></p>
            <p id="Comment" ><b>Comment: @ViewBag.Comment</b></p>
        </div>
</body>
</html>