
@model Categorie
<div class="text-center">
        <a class="display-9"asp-controller="Home" style=" font-size:50px;" asp-action="Index" >Products</a>  |<a class="display-9" style="text-decoration: none;font-size:50px;">Categories</a>
</div>
<div class="row">
    <div >
        <h1 class="text-center">New Product</h1>
        <form asp-action="addCategorie" asp-controller="Home" method="post">
            <div class="d-flex justify-content-around">
                <div style="text-align: left;">
                    <div class="form-group">
                        <label asp-for="Name"> Name</label>
                        <br>
                        <span asp-validation-for="Name" style="color: pink;"></span>
                        <br>
                        <input asp-for="Name">
                    </div>
                    <div>
                        <input type="submit" value="Add categorie" class="btn btn-primary mb-2">
                    </div>
                </div>
            </div>
        </form>
    </div> 
    <div>
        @foreach (Categorie c in ViewBag.AllCategories)
            {
                <p><a href="">@c.Name</a></p>
            }
    </div>
<div>

    

