@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Delicious>

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <a class="display-9" style="text-decoration: none">Home</a>  ||  <a asp-controller="Home" asp-action="Dishes" class="display-9" >New Dish</a>
</div>
<hr>
<br>
    <h3 style="text-decoration-line: underline;">Check out some recent dishes:</h3>
    @foreach (Delicious item in Model)
{
    <p><a href="/dishes/@item.DeliciousId">@item.Name</a> by Chef <b>@item.Chef</b> </p>
}


